@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */

.title {
    font-size: 2em;
    padding: 0.2em
}

.barra {
    background: blueviolet;
}

.list {
    width: 10%;
}

.icono {
    float: right;
}

.contiene {
    display: inline-block;
}

.navItems {
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid;
    width: 20%;
    display: flex;
}

.linksNav {
    width: 20%;
    margin: 40px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 1vh;
}

.textCard {
    text-align: center;
}

.icon {
    display: inline;
}

.img {
    height: 40vh;
    width: 70vw;
}

.card {
    margin: 40px;
}


/*  detail */

.detail {
    text-align: center;
    align-items: flex-end;
}

.image {
    height: 50vh;
    margin-left: 2rem;
    width: 35vw;
    display: block;
}

.image-Detail {
    height: 10vh;
    width: 100%;
    margin-top: 2rem;
}

.description {
    margin: 1rem;
    display: inline-block;
    padding-left: 1rem;
}

.contieneDetail {
    background: rgb(236, 224, 224);
    display: flex;
    padding: 2rem;
}

.buttonDetail {
    padding: 2px;
    margin-bottom: 15rem;
    margin-left: 3rem;
    background-color: blueviolet;
}

.spinner {
    margin-top: 8rem;
}


/* nabvar */

.nav-link {
    color: white;
}